/* fecha: 16-09-18, 19-09 */
/*style chat..*/
  
  .dvroomsnm{
    display:block; text-align:center;
    border-bottom:1px solid black;
    font-family:arial;
    color:#2F4F4F;}
#dvroomsecretnm{
    display:block; text-align:center;
    border-bottom:1px solid black;
    font-family:arial;
    color:#2F4F4F;}


.inlistrooms{
  width:120px;
}

.fmgorooms{
  display:inline-block;
}


.spchatroom{
border:1px solid black; border-radius:5px;
  /*box-shadow:5px -5px 5px grey;*/
  margin-left:5px;
font-family:Tahoma, Geneva, sans-serif;
background-color:#2F4F4F; color:white;
cursor:pointer;}
.spchatcant{
  border:1px solid grey; border-radius:20%;
  font-family:consolas;}
     
.alfrente{z-index:100;}

/*chat room basico..*/

.dvchatroom{
  /*display: -webkit-flex;
    -webkit-flex-direction:column;
  display:flex;
    flex-direction:column;*/
  /*overflow:auto;resize:both;*/
  position:absolute !important; left:12%;top:10%;
  width:80%;height:60%;max-width:600px;
  border:1px solid grey; border-radius:5px;
    box-shadow:0 0 5px #444;
  background-color:white;}


.dvchatroom_tit{
 display: -webkit-flex; -webkit-flex-direction:row;
 display:flex; flex-direction:row; justify-content:center;
 height:30px;
 font-family:arial;}

.dvchatroom_titnm{
  display: -webkit-flex; -webkit-flex-direction:column;
  display:flex; flex-direction:column; justify-content:center;
    text-align:center;
  width:70%;height:100%;
  border-radius:5px 0 0 0;
  cursor:move;}
   
.dvchatroom_titmin,.dvchatroom_titrsz{
   display: -webkit-flex; -webkit-flex-direction:column;
   display:flex; flex-direction:column; justify-content:center;
     text-align:center;
   width:10%;height:100%;
   cursor:default;}
 
.dvchatroom_titcerrar{
   display: -webkit-flex; -webkit-flex-direction:column;
   display:flex; flex-direction:column; justify-content:center;
     text-align:center;
   width:10%;height:100%;
   border-radius:0 5px 0 0;
   cursor:default;}


.dvchatroom_conuser{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row;
  position:absolute; top:30px;bottom:30px;
  width:100%;/*height:100%;*/}

.dvchatroom_con{
  overflow-y:auto; word-wrap:break-word;
  width:100%;/*height:98%;*/}


.dvchatroom_user{
  float:right;
    word-wrap:break-word;
  position:relative;
  width:100px;/*height:98%*/;
  font-weight:bold;}
.dvchatroom_usernm{
  overflow-y:auto;
    word-wrap:break-word;}
.dvchatroom_userbts{
  position:absolute;
    bottom:0px;}

        
.dvchatroom_msg{
  display: flex; flex-direction: row;
  position:absolute; bottom:0px;
  width:100%;}

.fmchatroom_msg{
    display: -webkit-flex; -webkit-flex-direction:row;
    display:flex; flex-direction:row;
    width:90%;} 

.btchatroom_msg{width:40px;} 
.btchatroom_emj{
  width:40px;
  margin-right:20px;}

.inchatroom_msg{width:100%;}

.dvemj{
  position: absolute;
    bottom: 0px;}

  /*..style room basico*/


 /*colores general..*/
.gnrl_titnm{
  background-color:#9370db;/*purpura*/
    color:white;}
.gnrl_titcerrar{
  background-color:#483D8B;/*ouroura oscuro*/
    color:white;
  /*#800000 #4B0082*/} 

.gnrl_con{
  background-color:#ffDAB9;}/*carne*/
.gnrl_user{
  background-color:#FFF0F5;/*rosa suave*/
    color:black;}

/*..colores general*/


/*typing*/
.dvtyp{
  position:absolute; top:0px;
  width:70%;/*height:20%;*/
  background-color:white;}
.sptyp{
  color:grey;}


/*..chat room*/

/*colores privado..*/

.prv_titnm{
  background-color:#2E8B57;
    color:white;}
.prv_titcerrar{
  background-color:#800000;
    color:white;/*#800000 #4B0082*/}

.prv_con{
  background-color:#DEB887;}
.prv_user{
  background-color:#FFA07A;}

/*..colores privado*/
     

/*img profile tabla*/
.igprofiletbl{
  width:30px;height:30px;}


 /*tabla users chat..*/
     
#tblusers{
  width:100%;
  border-collapse:collapse; border-radius:5px;
  background-color:#34495E}
  

caption{
 border-bottom:1px solid black;
 font-family:arial;/*font-weight:bold;*/
 color:#34495E;}
 
th{
  font-family:arial; font-weight:bold;
  color:#dd5;}
  
tbody>tr{/*:not(:first-child)*/
  /*border:1px dashed grey;*/
   /*background-color:#008080;*/
     color:white;}/*#FF7F50 #2F4F4F*/
     
tbody>tr:hover{/*:not(:first-child):hover*/
  background-color: silver;
  cursor:pointer;}
     
th, td{
    text-align: center;}

/*style inf user chat request..*/

#dvinfuser{
    display:inline-flex; flex-direction:row;
    border:1px solid grey;}
        
#dvinfuser>div{
   border:1px dashed grey;
     padding-right:5px;}
          
#dvcerrarprofilechat{
display: -webkit-flex; -webkit-flex-direction:column;
  display:flex; flex-direction:column; justify-content:center;
  padding:5px;}

#dvcerrarprofilechat:hover{
background-color:grey;
  cursor:pointer;}
    
#dvinfprofilechat{
  background-color:#f5f5f5;}

      #dvinfprofilechat>li:hover{
    background-color:grey;
      cursor:pointer;}
      
/*waiting section chatrequest..*/

.dvwaiting{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row; justify-content:space-evenly;
  position:absolute; bottom:0px;
  width:200px;
  border:1px solid grey;
    border-radius:5px;}

.dvwaiting>div{
  border:1px solid grey;
    border-radius:5px;}

#dvwaiting_t{
  text-align:center;
  width:90%;
  background-color:#2e8b57;
    color:white;}
#dvwaiting_x{
  text-align:center;
  width:10%;
  background-color:#800000;
    color:white;}

/*receiving chat request..*/

.dvchatrequestof{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row; justify-content:space-evenly;
  position:absolute; top:0px;
  width:200px;
  border:1px solid grey;
    border-radius:5px;}

.dvchatrequestof>div{
  border:1px solid grey;
    border-radius:5px;}
#dvchatrequestof_t{
  text-align:center;
  width:80%;
  background-color:#2e8b57;
    color:white;}
#dvchatrequestof_m{
  text-align:center;
  width:10%;}
#dvchatrequestof_x{
  text-align:center;
  width:10%;
  background-color:#800000;
    color:white;}

/*call*/

.dvrecibecall,.dvespcall{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row;
  position:absolute; top:10%;
  width:100%;
  background-color:white;
    color:grey;
}
.dvrecibecallnm,.dvespcallnm{
  width:40%;
}
.dvrecibecallnm b{color:black}
.dvrecibecallmas,.dvrecibecallcerrar,.dvespcallcerrar{
  text-align:center;
  width:10%;
  border:1px solid; border-radius:5%;
    margin-left:5px;
}
.dvrecibecallmas{
 background-color:#2E8B57;
   color:white;}
.dvrecibecallcerrar,.dvespcallcerrar{
 background-color:#800000;
   color:white;}


/*ver perfil user*/

#dvprofileuser{
  position:absolute; top:20%;left:20%;
  width:60%;height:60%;
  border:1px solid grey; border-radius:5px; 
  background-color:white;}

#dvprofileuser_tit{
  position:relative;
  height:30px;
  border-radius:5px 5px 0 0;}
#dvprofileuser_titnme{
  text-align:center;
  position:absolute; left:0px;right:30px;
  height:100%;
  background-color:#ccc;
  cursor:move;}
#dvprofileuser_titcerrar{
  text-align:center;
  position:absolute; right:0px;
  width:30px;height:100%;
  border:1px solid grey; border-radius:0 5px 0 0;
  cursor:pointer;}

#dvprofileuser_con{
  display:flex; flex-direction:column; align-items:center;
    overflow-y:auto;
  position:absolute; top:30px;bottom:30px;
  width:100%;
  background-color:black;
    color:white;}

#imgprofileuser{
  width:50px;height:50px;
  border-radius:50%;
    border:2px solid white;}



#dvprofileuser_chatrequest{
  display:flex; justify-content:center;
  position:absolute; bottom:0px;
  width:100%;height:30px;
  border-radius:0 0 5px 5px;
  background-color:#ccc;}

