/* fecha: 16-09-18, 19-09 */
/*style chat..*/
  
  .cl_dv_rooms_nm{
    display:block; text-align:center;
    border-bottom:1px solid black;
    font-family:arial;
    color:#2F4F4F;}
#dv_room_secret_nm{
    display:block; text-align:center;
    border-bottom:1px solid black;
    font-family:arial;
    color:#2F4F4F;}


.cl_in_list_rooms{
  width:120px;
}

.cl_fm_go_rooms{
  display:inline-block;
}


.cl_sp_chat_room{
border:1px solid black; border-radius:5px;
  /*box-shadow:5px -5px 5px grey;*/
  margin-left:5px;
font-family:Tahoma, Geneva, sans-serif;
background-color:#2F4F4F; color:white;
cursor:pointer;}
.cl_sp_chat_cant{
  border:1px solid grey; border-radius:20%;
  font-family:consolas;}
     
.alfrente{z-index:100;}

/*chat room basico..*/

.cl_dv_chat_room{
  /*display: -webkit-flex;
    -webkit-flex-direction:column;
  display:flex;
    flex-direction:column;*/
  /*overflow:auto;resize:both;*/
  position:absolute !important; left:12%;top:10%;
  width:80%;height:60%;max-width:600px;
  border:1px solid grey; border-radius:5px;
    box-shadow:0 0 5px #444;
  background-color:white;}


.cl_dv_chat_room_tit{
 display: -webkit-flex; -webkit-flex-direction:row;
 display:flex; flex-direction:row; justify-content:center;
 height:30px;
 font-family:arial;}

.cl_dv_chat_room_tit_nm{
  display: -webkit-flex; -webkit-flex-direction:column;
  display:flex; flex-direction:column; justify-content:center;
    text-align:center;
  width:70%;height:100%;
  border-radius:5px 0 0 0;
  cursor:move;}
   
.cl_dv_chat_room_tit_min, .cl_dv_chat_room_tit_rsz{
   display: -webkit-flex; -webkit-flex-direction:column;
   display:flex; flex-direction:column; justify-content:center;
     text-align:center;
   width:10%;height:100%;
   cursor:default;}
 
.cl_dv_chat_room_tit_cerrar{
   display: -webkit-flex; -webkit-flex-direction:column;
   display:flex; flex-direction:column; justify-content:center;
     text-align:center;
   width:10%;height:100%;
   border-radius:0 5px 0 0;
   cursor:default;}


.cl_dv_chat_room_con_user{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row;
  position:absolute; top:30px;bottom:30px;
  width:100%;/*height:100%;*/}

.cl_dv_chat_room_con{
  overflow-y:auto; word-wrap:break-word;
  width:100%;/*height:98%;*/}


.cl_dv_chat_room_user{
  float:right;
    word-wrap:break-word;
  position:relative;
  width:100px;/*height:98%*/;
  font-weight:bold;}
.cl_dv_chat_room_usernm{
  overflow-y:auto;
    word-wrap:break-word;}
.cl_dv_chat_room_user_bts{
  position:absolute;
    bottom:0px;}

        
.cl_dv_chat_room_msg{
  display: flex; flex-direction: row;
  position:absolute; bottom:0px;
  width:100%;}

.cl_fm_chat_room_msg{
    display: -webkit-flex; -webkit-flex-direction:row;
    display:flex; flex-direction:row;
    width:90%;} 

.cl_bt_chat_room_msg{width:40px;} 
.cl_bt_chat_room_emj{
  width:40px;
  margin-right:20px;}

.cl_in_chat_room_msg{width:100%;}

.cl_dv_emj{
  position: absolute;
    bottom: 0px;}

  /*..style room basico*/


 /*colores general..*/
.cl_gnrl_tit_nm{
  background-color:#9370db;/*purpura*/
    color:white;}
.cl_gnrl_tit_cerrar{
  background-color:#483D8B;/*ouroura oscuro*/
    color:white;
  /*#800000 #4B0082*/} 

.cl_gnrl_con{
  background-color:#ffDAB9;}/*carne*/
.cl_gnrl_user{
  background-color:#FFF0F5;/*rosa suave*/
    color:black;}

/*..colores general*/


/*typing*/
.cl_dv_typ{
  position:absolute; top:0px;
  width:70%;/*height:20%;*/
  background-color:white;}
.cl_sp_typ{
  color:grey;}


/*..chat room*/

/*colores privado..*/

.cl_prv_tit_nm{
  background-color:#2E8B57;
    color:white;}
.cl_prv_tit_cerrar{
  background-color:#800000;
    color:white;/*#800000 #4B0082*/}

.cl_prv_con{
  background-color:#DEB887;}
.cl_prv_user{
  background-color:#FFA07A;}

/*..colores privado*/
     

/*img profile tabla*/
.cl_ig_profile_tbl{
  width:30px;height:30px;}


 /*tabla users chat..*/
     
#tbl_users{
  width:100%;
  border-collapse:collapse; border-radius:5px;
  background-color:#34495E}
  

caption{
 border-bottom:1px solid black;
 font-family:arial;/*font-weight:bold;*/
 color:#34495E;}
 
th{
  font-family:arial; font-weight:bold;
  color:#dd5;}
  
tbody>tr{/*:not(:first-child)*/
  /*border:1px dashed grey;*/
   /*background-color:#008080;*/
     color:white;}/*#FF7F50 #2F4F4F*/
     
tbody>tr:hover{/*:not(:first-child):hover*/
  background-color: silver;
  cursor:pointer;}
     
th, td{
    text-align: center;}

/*style inf user chat request..*/

#dv_inf_user{
    display:inline-flex; flex-direction:row;
    border:1px solid grey;}
        
#dv_inf_user>div{
   border:1px dashed grey;
     padding-right:5px;}
          
#dv_cerrar_profile_chat{
display: -webkit-flex; -webkit-flex-direction:column;
  display:flex; flex-direction:column; justify-content:center;
  padding:5px;}

#dv_cerrar_profile_chat:hover{
background-color:grey;
  cursor:pointer;}
    
#dv_inf_profile_chat{
  background-color:#f5f5f5;}

      #dv_inf_profile_chat>li:hover{
    background-color:grey;
      cursor:pointer;}
      
/*waiting section chatrequest..*/

.cl_dv_waiting{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row; justify-content:space-evenly;
  position:absolute; bottom:0px;
  width:200px;
  border:1px solid grey;
    border-radius:5px;}

.cl_dv_waiting>div{
  border:1px solid grey;
    border-radius:5px;}

#dv_waiting_t{
  text-align:center;
  width:90%;
  background-color:#2e8b57;
    color:white;}
#dv_waiting_x{
  text-align:center;
  width:10%;
  background-color:#800000;
    color:white;}

/*receiving chat request..*/

.cl_dv_chat_request_of{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row; justify-content:space-evenly;
  position:absolute; top:0px;
  width:200px;
  border:1px solid grey;
    border-radius:5px;}

.cl_dv_chat_request_of>div{
  border:1px solid grey;
    border-radius:5px;}
#dv_chat_request_of_t{
  text-align:center;
  width:80%;
  background-color:#2e8b57;
    color:white;}
#dv_chat_request_of_m{
  text-align:center;
  width:10%;}
#dv_chat_request_of_x{
  text-align:center;
  width:10%;
  background-color:#800000;
    color:white;}

/*call*/

.cl_dv_recibe_call,.cl_dv_esp_call{
  display: -webkit-flex; -webkit-flex-direction:row;
  display:flex; flex-direction:row;
  position:absolute; top:10%;
  width:100%;
  background-color:white;
    color:grey;
}
.cl_dv_recibe_call_nm,.cl_dv_esp_call_nm{
  width:40%;
}
.cl_dv_recibe_call_nm b{color:black}
.cl_dv_recibe_call_mas,.cl_dv_recibe_call_cerrar,.cl_dv_esp_call_cerrar{
  text-align:center;
  width:10%;
  border:1px solid; border-radius:5%;
    margin-left:5px;
}
.cl_dv_recibe_call_mas{
 background-color:#2E8B57;
   color:white;}
.cl_dv_recibe_call_cerrar,.cl_dv_esp_call_cerrar{
 background-color:#800000;
   color:white;}


/*ver perfil user*/

#dv_profile_user{
  position:absolute; top:20%;left:20%;
  width:60%;height:60%;
  border:1px solid grey; border-radius:5px; 
  background-color:white;}

#dv_profile_user_tit{
  position:relative;
  height:30px;
  border-radius:5px 5px 0 0;}
#dv_profile_user_tit_nme{
  text-align:center;
  position:absolute; left:0px;right:30px;
  height:100%;
  background-color:#ccc;
  cursor:move;}
#dv_profile_user_tit_cerrar{
  text-align:center;
  position:absolute; right:0px;
  width:30px;height:100%;
  border:1px solid grey; border-radius:0 5px 0 0;
  cursor:pointer;}

#dv_profile_user_con{
  display:flex; flex-direction:column; align-items:center;
    overflow-y:auto;
  position:absolute; top:30px;bottom:30px;
  width:100%;
  background-color:black;
    color:white;}

#img_profile_user{
  width:50px;height:50px;
  border-radius:50%;
    border:2px solid white;}



#dv_profile_user_chat_request{
  display:flex; justify-content:center;
  position:absolute; bottom:0px;
  width:100%;height:30px;
  border-radius:0 0 5px 5px;
  background-color:#ccc;}

