/* fecha: 16-09-18 */
/*style game..*/
   
#dvjue{
  display:flex; flex-direction:column;
  /*overflow:auto;resize:both;*/
  position:absolute !important; top:10%;
  width:270px;height:250px;
  border:1px solid grey; border-radius:5px;
  background-color:#D2B48C;}
    
#dvjue_tit{
  height:25px;}

#dvjue_titnm{
  text-align:center;
  width:100%;
  border-radius:5px 0 0 0;
  background-color:#2E8B57;/*verde aclarado*/
    color:white;
  cursor:move;}

#dvjue_titrsz,#dvjue_titcrr{
  text-align:center;
  width:30px;
  cursor:pointer;}
#dvjue_titcrr{
  border-radius:0 5px 0 0;}

#dvjnmcrr{
  background-color:red;
    color:white;}    
  

#sptmr{
  float:right;
  border:1px solid black;}

#dvjue_conusr{
	display: -webkit-flex; -webkit-flex-direction:row;
    display:flex; flex-direction:row;
    position:absolute; top:50px;bottom:30px;
    width:100%;/*height:100%;*/}
  
#dvjue_con,#dvjue_usr{border:1px solid grey;}

#dvjue_con{
  overflow-y:auto;
      word-wrap:break-word;
    width:100%;}

#dvjue_usr{
  float:right;
    word-wrap:break-word;
  position:relative;
  width:100px;/*height:98%*/;
  font-weight:bold;}	

.dvjuepnt{
  display:inline-block; text-align:center;
  width:30px;
  border:1px solid; border-radius:50%;
}

.dvjue_u_nm{
  overflow-y:auto;
    word-wrap:break-word;
}

#dvjue_msg{
	position:absolute; bottom:0px;
	width:100%;}

/*style crear tipo de juego..*/


#dvcrtgme{
  display:inline-block; text-align:center;
  border:1px dashed;}


      
#dvrdygme{
  text-align:center;
}
#btrdygme{
  width:50%;
}
#dvtitoptgme{
  display:flex; flex-direction:row;
}
#dvtitoptgmenme{
  display:inline-block; text-align:center;
  width:100%;
  background-color:black; color:white;
}
#dvtitoptgme_x{
  display:inline-block;
    text-align:center;
  width:50px;
  cursor:pointer;
}
      
dvcrtgme select{border:none;}

#dvwaigme{
  display:inline-block;
}

/*style barra de juego a juntarse*/

.dvgmebar{
  display:table;
  border:1px dotted;
}

.dvgmebar div{
  display:inline-block;
  border:1px dashed;
    margin:5px;
}