 *{box-sizing:border-box;}
  
 html{
   height:100%;
  border:1px dotted grey;
     margin:0px;} 
  
 body{
   /*display:flex;flex-direction:column;*/
   height:100%; width:100%;
  border:1px solid grey;
     margin:0px;
   background-color:#e6e6fa;}/*#e6e6fa #f0f8ff*/

  #dvngvw{
    display:flex;
      flex-direction:column;
    height:100%; width:100%;
   margin:0px;}
  
  div{margin:5px;}