/* fecha: 16-09-18, 19-09 */

#dvreportescr{
  display:flex; justify-content:center; align-items:center;
  position:absolute; top:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.7);
}
#dvreporte{
  width:50%;height:50%;
  /*border:1px dotted;*/}

#dvreportetit{
  display:flex; justify-content:center;
  position:relative;
}
#dvreportetit>div{
  display:inline-block;
}

#dvreportetitnm{
  text-align:center;
  width:100%;
  background:black; color:yellow;
}
#dvreportetitx{
  text-align:center;
  position:absolute; right:0px;
  width:50px;
  background:white;
  cursor:pointer;
}
#inreportetit{
  text-align:center;
  width:100%;
}
#tareporte{
  width:100%;height:50%;
}
#btsndreporte{
  width:100%;
}
