<style>

  #dvmed{
    text-align:center;}

  h2{
    font-family:arial;}
  
  #dvmsgnu{
    display:inline-block;text-align:center;
    border:1px solid grey;border-radius:2px;}
   
  #dvmsgnu a{
    color:grey;}
  
  #dvmsgnu input[type=text]{
    width:120px;}
  
  #dvmsgnu form input:not([type=text]){
    width:99%;}
  /*p:not([type=text])
  p:nth-child(n+2)*/
  
  #dvmsgnu *{margin:2px;}
  
</style>

<style>
/*style title..*/
@media only screen and (min-width:400px){
    #dvlg{
     position:absolute;top:15px; right:20px;}
    }/*media*/
      
  #dvlg{
    border:1px solid grey; border-radius:5px;
    background-color:white; color:black;
    cursor:pointer;}
  #dvlg a{
    text-decoration:none;
    color:black;}
/*..style title*/
</style>

<div id="dvti">
  <h1 id="h1ti">BesTalk</h1>
   <div id="dvlg" 
               ><a
 href="#/login">Login</a></div>
</div><!-- header -->
  
<style>
  #dvmed{background-color:#ffffe0;}
</style>

  <div id="dvmed">
   
<div id="dvmtxsgnu">
<h2>Welcome to BesTalk</h2>
<h3>A language exchange page where you can chat, play games, learn lessons and more.</h3>
</div>
    
<div id="dvmsgnu">
<form name="fmsgup" 
      onsubmit="return valpW()">
  
<input type="text" name="firstnm"
       ng-model="user.firstnm"
  placeholder="First Name">
<input type="text" name="lastnm"
       ng-model="user.lastnm"
  placeholder="Last Name"><br>
  
<input type="email" name="email"
       ng-model="user.email"
 placeholder="Email"><br>
  
  <input type="password" id="inpw"
         ng-model="user.password"
   placeholder="Password"><br>
  <input type="password" name="password"
   id="incpw" placeholder="Repeat password"><br>
  
  <button type="submit" ng-click="signuP()">Sign Up</button>
  
  <p>Already have an account? <a
 href="#/login">Log in!</a></p>
  
</form>
</div>
    
</div><!-- middle -->



<script>
function valpW(){
  if(inpw.value==incpw.value){
     return true;
  }else{
    incpw.
      setCustomValidity("Passwords Don't Match");
        //alert("no match");
    return false;
  }//else no match
}//validar password
</script>

<app-fondo></app-fondo>