<!DOCTYPE html>
<html lang="en">
<head>
 <title>Autenticación app</title>
 <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
</head>
<body>
  
  
 <div class="container">
 <div class="jumbotron text-center">
<h1>User autenticación con passport local</h1>
<h3>login or register with:</h3>
<a href="/login" class="btn btn-lg btn-success">Login</a>
<a href="/register" class="btn btn-lg btn-info">Register</a>

 </div>
</div>
  
  
</body>

</html>