<!DOCTYPE html>
<html>
<head>
<meta name="description" content="BingoLingo, front page">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/55f963f5-bf15-449c-b526-e46a7cd2b96f%2Fbingolingobw.ico?1508699920097" type="image/x-icon">
  <title>BingoLingo!</title>

  <!-- <link rel="stylesheet" href="/style.css"> -->
  
<style>
  *{box-sizing:border-box;}
  
 body{display:-webkit-flex;
  -webkit-flex-direction:column;
    border:1px solid grey;
    height:100%;
    width:100%;
   margin:0px;}
  html{
    border:1px dotted grey;
   height:100%;
   margin:0px;}
   
  div{margin:5px;}

 #h1ti{
   color:white;
  margin:auto;
  font-family:arial;
  display:inline-block}

#dvti{
  border:1px solid grey;
 border-radius:5px 55px;
  text-align:center;
  background-color:black;}

  #dvmed{
   border:1px solid grey;
   border-radius:5px;
   height:100%;
   display:-webkit-flex;
  -webkit-flex-direction:column;}
  
  
  
  #dvfnd{
    border:1px solid grey;
   border-radius:5px 20px;
   background-color:#aaa;
   font-family:arial;}

  #dvmtb{border:1px solid grey;
    display:-webkit-flex;
  -webkit-flex-direction:row;
   -webkit-justify-content:space-evenly}
  
  #dvmtb>div{
  border:1px solid grey;
  width:100%;
  text-align:center;
  border-radius:5px;
  font-family:arial;}
  
  #dvmtb>div:hover{
    background-color:#009A79;}
  
#dvmedc{border:1px solid grey;
  height:100%;}
  
  #dvlg{position:absolute;
   right:20px;
   top:15px;}
  #dvlg>a{color:black;
   border:1px solid grey;
   border-radius:5px;
   background-color:white;
   text-decoration:none;}
  </style>
  
</head>
<body>

 <%- body %>
  
  <!-- <script src="/client.js"></script> -->
  
</body>
</html>