<style>

  #dvmed{text-align:center;}
  
  h2{font-family:arial}
    
  #dvmlgi{border:1px solid grey;
   display:inline-block;
   text-align:center;
   border-radius:2px;
   margin:auto;}
  
  #dvmlgi a{color:grey;}
  
  #dvmlgi *{margin:2px;}
  
</style>

<div id="dvti">
  <h1 id="h1ti">BingoLingo</h1>
   
</div><!-- header -->
  
<div id="dvmed">
    
 
    <div id="dvmtx">
<h2>Welcome to BingoLingo</h2>
<h3>A language exchange page where you can chat, play games, learn lessons and more.</h3>
</div>  
    
<div id="dvmlgi">

<h2>BingoLingo</h2>
  
  <% if(msg.length>0){ %>
     <div ><%= msg %></div>
   <% } %>

<form action="/login" method="post">

<input type="email" name="email"
 placeholder="Email"><br>
<input type="password" name="password"
 placeholder="Password"><br>

<a href="">Forgot password?</a><br>

<button type="submit">Login</button><br>

<p>Don't have a BingoLingo account yet? <a 
 href="/signup">Sign up!</a></p>

</form>
</div>
    
</div><!-- middle -->
