<h2>
Privacy Policy of BesTalk - The Best Way to Learn a Language.  
</h2>

<h3>Data Collected</h3>
We collect personally identifiable information that you provide to us, such as your name,  email address.  To customize our service for you, we may collect and store your precise geographic location as part of your user profile. This data generally is not shared with others.

<h3>Access</h3>
You can sign into your account to see or delete any personally identifiable information we have stored, such as your name, email. You can also contact us by email to request to see or delete this information.

<h3>Disclosure of Personal Information</h3>
We generally do not share personally identifiable information (such as name, email) with other companies.

<h3>Vendors</h3>
Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used. They use this data solely on our behalf. 

<h3>Security</h3>
Information we collect may be stored or processed on computers where our service runs.

<h3>Special</h3>
To operate the service, we also may make identifiable and anonymous information available to third parties in these limited circumstances: (1) with your express consent, (2) when we have a good faith belief it is required by law, (3) when we have a good faith belief it is necessary to protect our rights or property, or (4) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets. Your consent will not be required for disclosure in these cases, but we will attempt to notify you, to the extent permitted by law to do so.

<h3>Contact</h3>
If you have any questions or concerns about our privacy policies, please contact through mail to us.

<h4>Our privacy policy may change from time to time. If we make any material changes to our policies, we will place a prominent notice on our website and send a notice to you by email, push notification or text.</h4>

<h5>Created by BesTalk April 28th, 2019.</h5>