<style>
#dvmed{
 display:-webkit-flex;
 -webkit-flex-direction:column;}


  #dvmtb{border:1px solid grey;
    display:-webkit-flex;
  -webkit-flex-direction:row;
   -webkit-justify-content:space-evenly}

  
  #dvmtb>div{
  border:1px solid grey;
  width:100%;
  text-align:center;
  border-radius:5px;
  font-family:arial;}
  
  #dvmtb>div:hover{
    background-color:#009A79;}
  
#dvmedc{border:1px solid grey;
  height:100%;}
  
  
@media only screen and (min-width:400px){
#dvlg{
 position:absolute;
 top:15px;
 right:20px;}
}/*media*/
  
  #dvlg a{color:black;
   border:1px solid grey;
   border-radius:5px;
   background-color:white;
   text-decoration:none;}

</style>

<div id="dvti">
  <h1 id="h1ti">BingoLingo</h1>
   <div id="dvlg">
<a href=""><%= user.firstnm %></a>
</div>
</div><!-- header -->
  
  <div id="dvmed">
    
    <div id="dvmtb">
      <div id="dvmtbcht">Chat</div>
<div id="dvmtbgm">Game</div>
<div id="dvmtbcm">Community</div>
<div id="dvmtblss">Lessons</div>
      
    </div>
    
<div id="dvmedc">
  <p>User info</p>
<p>First Name: <%= user.firstnm %></p>
<p>Last Name: <%= user.lastnm %></p>

   <div>
 <a href="/logout" >Logout</a>
</div>
    
</div><!-- middle -->
  
  
  