
<h2>Reset Password</h2>

<form action="/reset/<%= token %>" 
method="post"
onsubmit="return validar_password()">


<input type="password" id="in_pw"
placeholder="New password"><br>
<input type="password" id="in_cpw"
name="password"placeholder="Repeat password"><br>

<button type="submit" >Reset</button>



</form>


<script>
function validar_password()
{
if(in_pw.value == in_cpw.value)
{
return true;
}else
{
in_cpw.setCustomValidity("Passwords Don't Match");
//alert("no match");
return false;
}//else no match
}//validar password
</script>