
<style>
    #dvmed{
     display:-webkit-flex;
     -webkit-flex-direction:column;}
    
    
      #dvmtb{border:1px solid grey;
        display:-webkit-flex;
      -webkit-flex-direction:row;
       -webkit-justify-content:space-evenly}
    
      
      #dvmtb>div{
      border:1px solid grey;
      width:100%;
      text-align:center;
      border-radius:5px;
      font-family:arial;
      cursor:pointer;}
      
      #dvmtb>div:hover{
        background-color:#009A79;}
      
    #dvmedc{border:1px solid grey;
      height:100%;
      position:relative;}
      
      
    @media only screen and (min-width:400px){
    #dvlg{
     position:absolute;
     top:15px;
     right:20px;}
    }/*media*/
      
      #dvlg{color:black;
       border:1px solid grey;
       border-radius:5px;
       background-color:white;
       cursor:pointer;}
    
    #dvmedc>div{border:1px dotted grey;
      height:99%;width:99%;
      position:absolute;
      display:none;}

    </style>
    
    <div id="dvti">
      <h1 id="h1ti">BingoLingo</h1>
       <div id="dvlg" onclick="opntB(event,'#dvusrc',this)"
        ><%= user.firstnm %></div>
    </div><!-- header -->
      
      <div id="dvmed">
        
        <div id="dvmtb">
    <div id="dvmtbcht"  onclick="opntB(event,'#dvchtc',this)"
         >Chat</div>
    <div id="dvmtbgm"  onclick="opntB(event,'#dvgmc',this)"
         >Game</div>
    <div id="dvmtbcmm"  onclick="opntB(event,'#dvcmmc',this)"
         >Community</div>
    <div id="dvmtblss"  onclick="opntB(event,'#dvlssc',this)"
         >Lesson</div>
          
        </div>
        
    <div id="dvmedc">

      <div id="dvchtc">a</div>
      <div id="dvgmc">In construction.</div>
      <div id="dvcmmc">In future.</div>
      <div id="dvlssc">Coming soon.</div>
      
<div id="dvusrc">
      <p>User info</p>
 <p>First Name: <%= user.firstnm %></p>
 <p>Last Name: <%= user.lastnm %></p>

 <a href="/logout" >Logout</a>
</div>

    </div>
        
    </div><!-- middle -->
      
   <script>
    function opntB(evt,idnm,thel){
      var dvmcs= document.querySelectorAll("#dvmedc>div");
      for(var i=0;i<dvmcs.length;i++){
        dvmcs[i].style.display="none";
      }//for
      document.querySelector(idnm).
       style.display="block";

      var dvmtbs=document.querySelectorAll("#dvmtb>div");
      for(var i=0;i<dvmtbs.length;i++){
        dvmtbs[i].style.backgroundColor="";
      }//for
      
      if(thel.id!="dvlg")
       document.getElementById(thel.id).
        style.backgroundColor="#009A79";

    }//opentab
   </script> 