


<div id="dvti">
  <h1 id="h1ti">BesTalk</h1>
  <div id="dvlg"
      onclick="opntB(event,'#dvusrc',this)"
      >{{user.firstnm}}</div>
</div><!-- header <i class="fa fa-user-circle"
          aria-hidden="true"
          ></i> -->




<style>
/*style middle..*/
  #dvmed{
    display:flex;
      flex-direction:column;
    height:100%;
   border:1px solid grey;
      border-radius:5px;
    background-color:#ffffe0;}
  
#dvmtb{
  display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  height:35px;
 border:1px solid grey;}
    
 #dvmtb>div{
   text-align:center;
   width:100%;
  border:1px solid grey;
     border-radius:5px;
   font-family:arial;
   background-color:white;
   cursor:pointer;}
      
  #dvmtb div:hover{
    background-color:#9370DB;
      color:white;}
      
 #dvmedc{
   position:relative;
   height:100%;
  border:1px solid grey; }
      
    
    /*dv chtc gmc cmmc lssc*/
 #dvmedc>div:nth-child(-n+5){
   /*border:1px dotted grey;*/
   display:none;
     overflow-y:auto;
   position:absolute;
   height:100%;width:100%;
  border:1px dotted grey;
     margin:0px;}

   
  #dvusrc{
    overflow-y:auto;
    position:absolute;
    height:100%;width:100%;
   border:1px dotted grey;
      margin:0px;
    background-color:#5F9EA0;} /*#6495ED #D3D3D3*/
  
  #dvchtc{
    background-color:#f5f5f5} /*#fff8dc #eee8aa */ 
      
  #dvgmc{
    background-color:#D2B48C;} /*#D2B48C #deb887*/
      
  #dvcmmc{
    background-color:#0079a9;
      color:white;}
  
  #dvlssc{
    background-color:#2f4f4f;
      color:white;}
 
/*..style middle*/
</style>



<div id="dvmed">
        
 <div id="dvmtb">
   <div id="dvmtbcht"
  onclick="opntB(event,'#dvchtc',this);entrchT();"
         >Chat</div>
    <div id="dvmtbgm"
         onclick="opntB(event,'#dvgmc',this)"
         >Game</div>
    <div id="dvmtbcmm"
      onclick="opntB(event,'#dvcmmc',this)"
         >Community</div>
    <div id="dvmtblss"
         onclick="opntB(event,'#dvlssc',this)"
         >Lesson</div>
  </div><!-- div tabs -->
  
  
<link rel="stylesheet" href="/styles/chat.css">    

<div id="dvmedc">

      
      
<div id="dvchtc">
  
<div id="dvchtru">
          
<div id="dvchtr">
  <div id="dvchtrnm">Rooms</div>
  <div id="dvchtrc">
    
    <!-- language room in datalist !!! as the theme ones -->
    
  <span id="lige" class="spchtrm"
      onclick="entrgnrL('gnrl')"
        > General <span id="spchtcnt_gnrl"
        class="spchtcnt"></span><i class="fa fa-comments-o"
           aria-hidden="true"
      ></i> </span>
  </div>
</div><!-- dv rooms -->
          
  
<div id="dvchtu">
<table id="tblusrs">
  <caption>Users</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
<th>Country</th>
<th>Learning</th>
<th>Speaks</th>
  </tr>
  </thead>
  <tbody id="tblusrsbd">
  </tbody>
</table>
  
</div><!-- dv users -->
</div><!-- dv chat room user -->
  
</div><!-- div chat -->


     
 <link rel="stylesheet" href="/styles/game.css">    
     
      
<div id="dvgmc">
  
  <p>In construction...</p>
  <input type="button"
         value="create game" id="btncrtgm"
         onclick="crtgaM()">   
</div><!-- div juego style="display:none"-->
      
      
      
<div id="dvcmmc">In future.</div>
<div id="dvlssc">The teacher has not arrived yet.</div>

      
      
<style>
/*style div user info..*/
  
#dvusri{
  text-align:center;
 border:1px solid grey;
    border-radius:5px;
  font-family:arial;
  background-color:#9370DB;
    color:white;}
  
/*..style div user info*/
</style>        
        
<div id="dvusrc">
  <div id="dvusri">User info</div>
  
  <span ng-switch="edit">
  <span id="spusrprf"
        ng-switch-when="false">
      
 <p>First Name: {{user.firstnm}} </p>
 <p>Last Name: {{user.lastnm}} </p>
<p>Gender: {{user.gender||""}} </p>
<p>Age:  {{user.age || ""}} </p>
<p>Country: {{user.country || ""}} </p>
<p>Learning: {{user.learning || ""}} </p>
<p>Speaks:  {{user.speaks || ""}} </p>
    
  </span><!-- usr prf info -->
  
  
  <span id="spusredtprf" ng-switch-when="true">
    <app-edit-profile></app-edit-profile>
    
  </span><!-- usr prf edit --> 
    
  </span><!-- span switcher -->
 
  
<input type="button"
       value="Edit Profile" ng-init="edit=false"
       ng-click="edit=true" ng-show="!edit">
  
<input type="button"
       value="Cancel" ng-show="edit"
       ng-click="edit=false">
  
  <br>  
 <a href="/logout" >Logout</a>
</div><!-- div user -->

</div><!-- middle content -->
</div><!-- middle -->
      


<script>
  
    function opntB(evt,idnm,thel){
      var dvmcs= document.querySelectorAll("#dvmedc>div");
      
      for(var i=0;i<dvmcs.length;i++){
        dvmcs[i].style.display="none";
      }//for
      
      document.querySelector(idnm).
       style.display="block";

      var dvmtbs= document.querySelectorAll("#dvmtb>div");
      
      for(var i=0;i<dvmtbs.length;i++){
        dvmtbs[i].style.backgroundColor="";
        dvmtbs[i].style.color="";
      }//for
      
      if(thel.id!="dvlg"){
       var tb=document.getElementById(thel.id);
        tb.style.backgroundColor="#9370DB";
        tb.style.color="white";
      }//if not dvlg

    }//opentab
     
function insertAfter(referenceNode, newNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}//insert after
     
</script>


<app-fondo></app-fondo>


  
   
<script src="/socket.io/socket.io.js"></script> 
<script src="/scripts/socketdsp.js"></script>
<!--   <script src="https://cors-anywhere.herokuapp.com/https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->



<script>
  
   function dainfU(ele){
    alert(ele.id);
  }//da info user id
  
</script>


