#h1ti{color:red;
  margin:auto;
  font-family:arial;}

#dvti{border:1px solid blue;
 border-radius:5px 55px;
 display:flex;}

  #dvmed{border:1px solid blue;
   border-radius:5px;
   display:table-row;
   height:100%;
   background-color:#ef8}
  
  
  
  #dvfnd{border:1px solid blue;
   border-radius:5px 20px;
    display:table-row;
   background-color:#8fe;}
  
  
  body{border:1px solid grey;
    height:100%;
    width:100%;
   margin:0px;
   display:table;}
  html{border:1px dotted grey;
   height:100%;
   margin:0px;}
  div{margin:5px;}