<nav class="navbar navbar-default">
<div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
 <span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
 </button>

<a class="navbar-brand" href="#">node autenticacion app</a>

 </div>

<div id="navbar" class="collapse navbar-collapse">
 <ul class="nav navbar-nav navbar-right">
<li><a href="#/login">Login</a></li>
<li><a href="#/register">Register</a></li>
 </ul>
</div><!-- /.nav-collapse -->

</div>
</nav>

<h1>hi, Im login!</h1>

<div class="col-sm-8 col-sm-offset-2">
<h1>User Registration Form:</h1>

<div ng-show="message">
 <div class="alert alert-danger">{{message}}</div>
</div>

<form name="myForm" novalidate>

<div class="form-group"
 ng-class="{'has-error':'myForm.email.$touched && myForm.email.$invalid'}">

<label for="email">Email address</label>
<input type="email" name="email" 
 ng-model="user.email" class="form-control"
 placeholder="Email" required>
<small class="help-block" ng-show="myForm.email.$touched && myForm.email.$invalid"
 >Enter a valid Email Address.</small>
</div>

<div class="form-group" ng-clss="{'has-error':'myForm.password.$touched && myForm.password.$invalid'}">

<label for="password">Password</label>
<input type="password" name="password" 
 ng-model="user.password" class="form-control"
 placeholder="Password" ng-minlength="6"
 required>
<small class="help-block" ng-show="myForm.password.$touched && myForm.password.$error.minlength"
 >Password is required of minimum 6 chars.</small>
</div>

<input class="btn btn-lg btn-primary btn-block" 
 type="submit" 
 ng-click="login()"><!-- ng-disabled="myForm.$invalid" -->
<div class="checkbox"><a href="#/register">Register</a></div>
</form>
</div>
