<style>

  #dvmed{
    text-align:center;
    background-color:#ffffe0;}
  
  h2{
    font-family:arial}
    
  #dvmlgi{
    display:inline-block;
      text-align:center;
   border:1px solid grey;
      border-radius:2px;
      margin:auto;}
  
  #dvmlgi a{
    color:grey;}
  
  #dvmlgi *{
    margin:2px;}
  
</style>

<div id="dvti">
  <h1 id="h1ti">BesTalk</h1>
   
</div><!-- header -->
 

<div id="dvmed">
  
<div id="dvmtx">
  <h2>Join to BesTalk</h2>
</div>  
    
  
<div id="dvmlgi">

<h2>BesTalk</h2>
  
<div ng-show="msg">{{msg}}</div>
   

<form name="fmlogin" novalidate>

<input type="email"
       name="email" ng-model="user.email"
       placeholder="Email" required><br>
<input type="password"
       name="password" ng-model="user.password"
       placeholder="Password" required><br>

<a href="">Forgot password?</a><br>

<button type="submit"
        ng-click="logiN()">Login</button><br>

<p>Don't have a BesTalk account yet? <a 
 href="#/signup">Sign up!</a></p>

</form>
</div><!-- dv login -->
    
</div><!-- middle -->

<app-fondo></app-fondo>